Today is {{ date_time }}.
{% if task %}
Task: {{ task }}
{% endif %}

{% if information %}
Additional information:
{{ information }}
{% endif %}


{% if recent_history %}
Things that have already happened from oldest to latest:
{{ recent_history }}
{% endif %}



