If {{ task }} has been solved completely then ExitAgent may be called.  Also if there is a severe unrecoverable
error that cannot be solved by any other agent, then ExitAgent maybe called for graceful exit.