**JSON File:**
```json
{{ json_content }}
```

**Query:** {{ query }}

Search this JSON for all locations relevant to the query. Return paths to existing data and/or suggest where new data should be inserted.


