Below is a list of questions and their answers we have already figured out:

What is the schedule like for everyone?
Annika has art class from 6-8pm.

Does everyone want to go out tonight?
We want to stay in tonight.

Is tonight a special occasion?
No.

What is the preferred level of activity?
Relaxing.

What time does everyone want to start the evening's entertainment?
6.30PM

Should the entertainment include the whole family, or just those available at 6:30pm?
Annika will be left out.
Are there any restrictions or preferences regarding screen time or types of media (e.g., movies, TV, games)?
We don't have time for whole movie. Otherwise we are open.
Is food or a meal part of the entertainment plan, or will everyone eat separately?
We want to eat while we watch/play games/ etc.
Are there any recent entertainment activities that should be avoided due to repetition?
No.
