Current date and time: {{ date_time }}

Task: {{ task }}
Information: {{ information }}

Recent history: {{ recent_history }}

Create a comprehensive daily summary that synthesizes all the gathered information.
 Provide a clear, actionable summary that helps the user understand their day ahead and make the most of their time.
  Be sure to highlight any upcoming important events that need to be on their radar for future planning,
   and include important overnight emails that require attention.
