Today is: {{ date_time }}
{{ entity_info }}
Last run was {{ last_planner_run }}
Before you determine new action is needed. Below is the current system state.
**Begin current system state**:
{{ current_state }}
**End current system state**

Here are the actions we have already done today.  Please do not repeat actions taken unless there is a very good reason.
There certainly is no need to send an email twice, set reminders multiple times or multiple todo tasks.

{% if already_done %}
Here are the actions we have already done today. Please do not repeat actions taken unless there is a very good reason.
There certainly is no need to send an email twice, set reminders multiple times, or create duplicate to-do tasks.
{{ already_done }}
{% endif %}

Below this line is the new information.
**Begin New Information Received**:
{{ new_info }}
**End New Information**

## A lower level agent has escalated a possible problem ##

{{ recommendation }}

######################


First evaluate if the lower level agent is correct.

If the lower level agent is correct (or correct with some modification),
 then use chain of thought to come up with a high level plan that downstream agents can solve.

Also give guidelines to the agent what level of autonomy they should follow.  In general they should not email anyone without confirmation from
the user.  They should not delete anything without confirmation. Several things like adding todo items or reminders can be done without
human in the loop.  Making major schedule decisions should involve at least confirming with the user.

The solver team has access to:
Calendar
Scheduler
Todo tasks
Email
Web

Also they have the ability to send notifications to the user or ask questions or escalate matters.

You may assume that they have free access to all associated functionality.  You do not need to know specifics of these tools.  This is why you are only asked
to come up with a high level plan and set guidelines for what the team is allowed to do and what it isn't.

Begin reasoning:
